body {
	margin: 0 auto;
	padding: 50px;
	width: 25%;
	background: #fbfbfa;
	color: black;
}

h1 {
	color: black;
	font-size: 20px;
	text-align: center;
}

h2 {
	color: black;
	font-size: 16px;
	text-align: center;	
}

form {
	overflow: hidden;
	text-align: center;


}

input[type="submit"] {
	font-size: 8px;
	border: none;
	padding: 15px;
	margin-right: 10px;
	background: black; 
	color: white;	
	box-sizing: border-box;
}

/*.pic {
	position: relative;
}*/

img {
	width: 100px;
	height: 100px;
	margin: 20px auto 0 auto;
	display: block;
	
}

.pic2 img {
	top: 130px;
	left: 630px;
	width: 200px;
	height: 200px;
	position: absolute;

}

a {
	color: #545454;
	display: block;
}

a :hover{
	text-decoration: none;
}

.main {
	background: #cccccc;
	padding: 15px;
	height: 100%;
}

.log {
	text-align: center;
	border: 3px solid  black;
	border-radius: 5px;
	margin-top: 10px;
	background: white;

}